@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    color: #4b5563;
}

.loader {
    position: relative;
    width: 100%;
    height: 200px;

    svg, i{
        position: absolute;
        top: calc(50% - (3rem/2));
        left: calc(50% - (3rem/2));
        transform: translate(calc(50% - (3rem/2)), calc(50% - (3rem/2)));
        font-size: 3rem;
        color: lightgray;
        fill: lightgray;
        animation: rotate360 2s;
    }
}

#modal {
    transition: 300ms;

    > .modal {
        transform: translateY(100px);
        animation-duration: 500ms;
        animation-delay: 500ms;
        animation-timing-function: cubic-bezier(0, 0.20, 0.80, 1);
        opacity: 0;
    }

    &.active > .modal {
        transform: translateY(0);
        animation-duration: 500ms;
        animation-delay: 500ms;
        animation-timing-function: cubic-bezier(0, 0.20, 0.80, 1);
        opacity: 1;
    }
}

@keyframes rotate360 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.bg-gold {
    background:linear-gradient(to top right, #daaf5a, #e9cf79, #daaf5a, #e9cf79, #daaf5a);
}

.shine {
    content: "";
    position: absolute;
    top: -60%;
    right: 200%;
    width: 50%;
    height: 200%;
    opacity: 0;
    transform: rotate(135deg);
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient( to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.0) 100%);
    animation: shine 4s infinite;
}

@keyframes shine {
    50% {
        opacity: 1;
        right: -210%;
    }
    to {
        opacity: 1;
        right: -210%;
    }
}