@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
    color: #4b5563;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.loader {
    position: relative;
    width: 100%;
    height: 200px;

    svg, i{
        position: absolute;
        top: calc(50% - (3rem/2));
        left: calc(50% - (3rem/2));
        transform: translate(calc(50% - (3rem/2)), calc(50% - (3rem/2)));
        font-size: 3rem;
        color: lightgray;
        fill: lightgray;
        animation: rotate360 2s;
    }
}

#modal {
    transition: 300ms;

    > .modal {
        transform: translateY(100px);
        animation-duration: 500ms;
        animation-delay: 500ms;
        animation-timing-function: cubic-bezier(0, 0.20, 0.80, 1);
        opacity: 0;
    }

    &.active > .modal {
        transform: translateY(0);
        animation-duration: 500ms;
        animation-delay: 500ms;
        animation-timing-function: cubic-bezier(0, 0.20, 0.80, 1);
        opacity: 1;
    }
}

@keyframes rotate360 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}